<form>
  <div class="form-group">
    <label for="DepartmentName">Department Name:</label>
    <input type="text" class="form-control" id="DepartmentName" placeholder="">
  </div>
  <br>
  <label for="DepartmentID">Department ID:</label>
    <input type="text" class="form-control" id="DepartmentID" placeholder="">
    <br>
  <form>
    <br>
  <div class="form-group">
    <label for="ManagerName">Manager Name:</label>
    <input type="text" class="form-control" id="ManagerName" placeholder="">
  </div>
  <br>
  <label for="ManagerID">Manager ID:</label>
    <input type="text" class="form-control" id="ManagerID" placeholder="">
  <br>
  <br>
  <br>
<div class="col">
      <a href="./employee.handlebars"><button>Add Employee</button></a>
    </div>

</form>