<form>
    <br>
  <div class="form-group">
    <label for="EmployeeName">Employee Name:</label>
    <input type="text" class="form-control" id="EmployeeName" placeholder="">
  </div>
  <br>
  <label for="EmployeeID"> Employee ID:</label>
    <input type="text" class="form-control" id="EmployeeID" placeholder="">
  <br>
  <div class="form-group">
    <br>
    <label for="EmployeeName">Employee Name:</label>
    <input type="text" class="form-control" id="EmployeeName" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="EmployeeID">Employee ID:</label>
    <input type="text" class="form-control" id="EmployeeID" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="EmployeeName">Employee Name:</label>
    <input type="text" class="form-control" id="EmployeeName" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="EmployeeID">Employee ID:</label>
    <input type="text" class="form-control" id="EmployeeID" placeholder="">
  </div>


</form>