 <div class="col" id="homepage">
      <a href="./department.handlebars" class="depart" ><button>Add New Department</button></a>
    </div>
    <br>
    <br>
    <div class="col">
      <a href="./sales.handlebars"><button>Sales</button></a>
    </div>
    <br>
    <br>
    <div class="col">
      <a href="./webdeveloper.handlebars"><button>Web Developer</button></a>
    </div>
  </div>
  