<br>
<br>
<br>
<br>
<br>
<br>
<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Team 1">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Team 2">
    </div>
  </div>
</form>
<h1>Brought to you by Cyber Seal 6</h1>
<script src="/js/login.js"></script>