<br>
<br>
<br>
<br>
<br>
<br>
    <div class="col">
      <a href="./webdeveloper.handlebars"><button>Web Developer</button></a>
    </div>
    <br>
    <br>
    <div class="col">
      <a href="./sales.handlebars"><button>Sales</button></a>
    </div>
  </div>
<script src="/js/login.js"></script>