{{!-- page for creating a new department --}}
<form class="newdept" id="newdept">
  <div class="form-group">
    <label for="DepartmentName" class="depname">Department Name:</label>
    <input type="text" class="form-control" id="departmentName" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="ManagerName">Manager Name:</label>
    <input type="text" class="form-control" id="managerName" placeholder="">
  </div>
   <br>
  <div class="col">
      <a href="/homepage"><button id="submitbtn">Submit</button></a>
    </div>
</form>

<script src="./JSS/department.js"></script>