<form class="saleteam">
  <div class="form-group">
    <label for="TeamLeader">Team Manager:</label>
    <input type="text" class="form-control" id="TeamLeader" placeholder="">
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="TeamMember">Employee:</label>
    <input type="text" class="form-control" id="TeamMember" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="TeamMember">Employee:</label>
    <input type="text" class="form-control" id="TeamMember" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="TeamMember">Employee:</label>
    <input type="text" class="form-control" id="TeamMember" placeholder="">
  </div>

</form>