<form class="saleteam">
  <div class="form-group">
    <label for="TeamLeader">Team Manager:</label>
    
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="TeamMember">Employee:</label>
    
  </div>
  <br>
  <div class="form-group">
    <label for="TeamMember">Employee:</label>
    
  </div>
  <br>
  <div class="form-group">
    <label for="TeamMember">Employee:</label>
    
  </div>

  <div class="col">
      <a href="./employee.handlebars"><button>Add Employee</button></a>
    </div>

</form>