<form>
  <div class="form-group">
    <label for="TeamLeader">Team Leader:</label>
    <input type="text" class="form-control" id="TeamLeader" placeholder="">
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="TeamMember">Team Member:</label>
    <input type="text" class="form-control" id="TeamMember" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="TeamMember">Team Member:</label>
    <input type="text" class="form-control" id="TeamMember" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="TeamMember">Team Member:</label>
    <input type="text" class="form-control" id="TeamMember" placeholder="">
  </div>

</form>